* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  height: 80px;
  background-color: #0185fd;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  list-style-type: none;
}

.fa-bars {
  font-size: 30px;
  color: #fff;
}

/* Container styles */
.container {
  width: 80%;
  margin: 30px auto 0;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  background-color: #b5ddff;
  border-radius: 5%;
  gap: 50px;
  padding-top: 40px;
  padding-inline: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Title styles */
.card-title {
  color: #0185fd;
  font-size: x-large;
  text-align: center;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  header {
    width: 100%;
  }

  .container.row :first-child {
    width: 66%;
  }

  .container.col-12 {
    width: 30%;
  }

  .col-md-8 {
    width: 66.6667%;
  }
}
