* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  height: 80px;
  background-color: #0185fd;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  list-style-type: none;
}

.fa-bars {
  font-size: 30px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header img {
  position: relative;
  left: 30px;
}

.header i {
  position: relative;
  right: 30px;
  font-size: 2rem;
  color: white;
}

.header ul {
  display: none;
}
/*************************************************
   services-section
*************************************************/
#services-section .col-big,
#services-section .col-small {
  width: 100%;
}

.p-1 {
  padding: 1rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  background-color: #b5ddff;
  border-radius: 5%;
  gap: 50px;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.service-card img {
  width: 80%;
}

.service-card i {
  font-size: 5rem;
  color: #0084fd;
  align-self: center;
}

/* Title styles */
.service-card h1 {
  color: #0185fd;
  font-size: x-large;
  text-align: center;
}

.service-card .card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*************************************************
   planning-section
*************************************************/

#planning-section {
  background-color: #9792e4;
  padding: 80px 0px;
}

#planning-section .container {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Aadd for sm screen */
}

#planning-section .card {
  flex-basis: calc(60% - 40px); /* calc margin*/
  margin-bottom: 50px; /* add space */
}

#planning-section img {
  width: 100%;
  border-radius: 10px; /* Add border */
}

#planning-section .card-content h1,
#planning-section .card-content p {
  margin: 0; /* add margin*/
}

#planning-section .card-content {
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#planning-section .card-content.planning {
  color: #fff;
}

#planning-section .card-content.develop {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/*************************************************
   testimonial-section
*************************************************/
#testimonials-section {
  padding: 50px 0px;
}

#testimonials-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonials-section .card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#testimonials-section .card-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9792e4;
  border-radius: 2rem;
  padding: 20px 10px;
  margin: 20px 0px;
}

#testimonials-section .picture {
  width: 20%;
  aspect-ratio: 4/4;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-1 {
  background-image: url(../img/testimonial1\ -\ Copia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-2 {
  background-image: url(../img/testimonial2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-3 {
  background-image: url(../img/testimonial3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#testimonials-section .description {
  flex-basis: 80%;
  height: 100%;
}

#testimonials-section .description p {
  color: white;
}

#testimonials-section .description p::after {
  content: close-quote;
  color: white;
  vertical-align: bottom;
  line-height: 0;
  font-size: 3rem;
}

#testimonials-section .description p::before {
  content: open-quote;
  color: white;
  vertical-align: bottom;
  line-height: 0;
  font-size: 3rem;
}

#testimonials-section .container > p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

#testimonials-section h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 30px;
}

#testimonials-section h6 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  color: #9792e4;
}

/*************************************************
   benefits-section
*************************************************/
/* Add title*/
#benefits-section > h1 {
  font-size: 2.8rem;
  text-align: center;
  color: white;

}
/* Add title --(01high quality-02creative-03amazing-etc) */
#benefits-section .benefits-card h2 {
  font-size: 1.4rem;
  color: #9792e4;
}


#benefits-section {
  background-color: #9792e4;
  
}
/* Add flex to benefits section */

#benefits-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.benefits-card {
  width: calc((100% /3) - 20px);
  margin: 10px;
}


.benefits-card .card-content {
  background-color: white;
  border-radius: 1rem;
  padding: 30px;
  height: 100%;
}


#benefits-section .container {
  
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: stretch;
}



*************************************************
   about-us-section
*************************************************/

#about-section {
  padding: 50px 0px;
}

#about-section h1 {
  font-size: 4rem;
  color: #9792e4;
}

#about-section h3 {
  font-size: 1.4rem;
  color: #9792e4;
}

#about-section p {
  font-size: 1.3rem;
  color: #000000;
}

.fa-quote-left {
  color: #9792e4;
}

#about-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 30px;

  height: fit-content;
}

#about-section .card-about {
  width: 70%;
}
#about-section .card-picture {
  width: 30%;
}

#about-section .card-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

#about-section .picture {
  width: 100%;
  aspect-ratio: 4/4;

  border-radius: 50%;
  background-size: cover;
  background-image: url(../img/about.jpg);
  position: relative;
}

#about-section .fa-quote-left {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4vw;
}

#about-section a {
  background-color: #9792e4;
  color: white;
  border-radius: 2rem;
  padding: 5px 15px;
  text-decoration: none;
  white-space: nowrap;
}

/*************************************************
   footer-SECTION
*************************************************/

footer {
  background-color: #9792e4;
}

footer .container {
  width: 60%;
}
footer h1 {
  color: rgb(255, 255, 255);
  font-size: 2.8rem;
}
footer h6 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

footer h5 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 300;
}

footer h2 {
  color: #fdc15f;
  font-size: 5rem;
}

footer p {
  color: white;
}

#footer-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;

  text-align: center;
}

#footer-section .cta {
  width: 100%;

  padding: 60px 0px;

  background-color: #9792e4;
}
#footer-section .bottom-block {
  width: 100%;

  padding: 60px 0px;
  background-color: #383838;
}

#footer-section .bottom-block p {
  color: white;
  width: 40%;
}
#footer-section .bottom-block a {
  color: #9792e4;
  text-decoration: underline;
}
/*************************************************
   media-query
*************************************************/
/* Media query for tablets */
/*
@media (min-width: 576px) {
  @media all and (max-width: 1100px) {*/
    
@media screen and (min-width: 556px) {
  .header {
      width: 70%;
      margin: 0 auto;
  }

  .header i {
      display: none;
  }

  .header ul {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      list-style-type: none;
      margin-right: 1rem;
  }

  .header li {
      color: white;
      font-size: 1.2rem;
  }

  .header li:last-child {
      color: black;
      background-color: white;
      padding: 0.4rem;
      border-radius: 10px;
  }
}

/* media query - DESKTOP */
@media all and (min-width: 556px) and (max-width:1400){
    header .fa-bars {
        display: flex;
    }
}
  #services-section .col-big {
    width: calc((100% / 3) * 2);
  }

  #services-section .col-small {
    width: calc(100% / 3);
  }

  @media (min-width: 768px) {
  #planning-section .card {
    flex-basis: calc(50% - 20px); /*  add flex for bg screen */
  }


/* Per schermi di larghezza massima di 576px (mobile first) */
@media screen and (max-width: 576px) {
  #benefits-section .benefits-card {
    width: calc(100% - 20px);
    margin: 10px;
  }
}

/* Per schermi di larghezza minima di 577px (quando si desidera la visualizzazione a 3 colonne) */
@media screen and (min-width: 577px) {
  #benefits-section .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #benefits-section .benefits-card {
    width: calc(33.33% - 20px);
    margin: 10px;
  }
  /* media query - MOBILE */
@media all and (max-width: 520px) {
  #about-section .container {
      flex-direction: column;
  }

  #about-section .card-about {
      width: 100%;
  }
  #about-section .card-picture {
      width: 100%;
      margin-top: 50px;
  }

  #about-section .fa-quote-left {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 8vw;
  }
}
