* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  height: 80px;
  background-color: #0185fd;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  list-style-type: none;
}

.fa-bars {
  font-size: 30px;
  color: #fff;
}

/* Container styles */
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
}

#services-section .col-big,
#services-section .col-small {
  width: 100%;
}

.p-1 {
  padding: 1rem;
}

/* Card styles service card */
.service-card {
  display: flex;
  flex-direction: column;
  background-color: #b5ddff;
  border-radius: 5%;
  gap: 50px;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.service-card img {
  width: 80%;
}

/* icons */
.service-card i {
  font-size: 5rem;
  color: #0084fd;
  align-self: center;
}

/* Title styles */
.service-card h1 {
  color: #0185fd;
  font-size: x-large;
  text-align: center;
}

.service-card .card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*planning cards*/

#planning-section {
  background-color: #9792e4;
  padding: 80px 0px;
}

#planning-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#planning-section .card {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#planning-section img {
  width: 100%;
}

#planning-section .card-content.development h1,
#planning-section .card-content.development p {
  color: rgb(15, 15, 15);
}

#planning-section .card-content.planning h1,
#planning-section .card-content.planning p {
  color: rgb(255, 255, 255);
}

#planning-section .card-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

#planning-section .card-content.development {
  background-color: white;
  border-radius: 3rem;
  padding: 50px;
  height: 60%;
  width: 50%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#planning-section .card-content.planning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fa-circle-arrow-down {
  font-size: 3rem;
  padding: 20px;
  color: #9792e4;
}
/*testimonial section*/
#testimonials-section {
  padding: 50px 0px;
}

#testimonials-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonials-section .card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#testimonials-section .card-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9792e4;
  border-radius: 2rem;
  padding: 20px 10px;
  margin: 20px 0px;
}

#testimonials-section .picture {
  width: 20%;
  aspect-ratio: 4/4;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-1 {
  background-image: url(../img/testimonial1\ -\ Copia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-2 {
  background-image: url(../img/testimonial2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-3 {
  background-image: url(../img/testimonial3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#testimonials-section .description {
  flex-basis: 80%;
  height: 100%;
}

#testimonials-section .description p {
  color: white;
}

#testimonials-section .description p::after {
  content: close-quote;
  color: white;
  vertical-align: bottom;
  line-height: 0;
  font-size: 3rem;
}

#testimonials-section .description p::before {
  content: open-quote;
  color: white;
  vertical-align: bottom;
  line-height: 0;
  font-size: 3rem;
}

#testimonials-section .container > p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

#testimonials-section h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 30px;
}

#testimonials-section h6 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
h4 {
  color: #9792e4;
}

/* Media query for tablets */
@media (min-width: 576px) {
  header {
    width: 100%;
  }

  #services-section .col-big {
    width: calc((100% / 3) * 2);
  }

  #services-section .col-small {
    width: calc(100% / 3);
  }
}
#plannig-section .col-big {
  max-width: 100%;
}

#plannig-section .col-small {
  width: calc(100% / 3);
}

/* Computer */
@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
